<div
    class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-white/[0.05] dark:bg-white/[0.03]"
>
    <div class="max-w-full overflow-x-auto">
        <table class="min-w-full">
            <!-- Table Header -->
            <thead class="border-b border-gray-100 dark:border-white/[0.05]">
                <tr>
                    <th
                        class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400"
                    >
                        User
                    </th>
                    <th
                        class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400"
                    >
                        Project Name
                    </th>
                    <th
                        class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400"
                    >
                        Team
                    </th>
                    <th
                        class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400"
                    >
                        Status
                    </th>
                    <th
                        class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400"
                    >
                        Budget
                    </th>
                </tr>
            </thead>
            <!-- Table Body -->
            <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
                @for (order of tableData; track $index) {
                    <tr>
                        <td class="px-5 py-4 sm:px-6 text-start">
                            <div class="flex items-center gap-3">
                                <div
                                    class="w-10 h-10 overflow-hidden rounded-full"
                                >
                                    <img
                                        width="40"
                                        height="40"
                                        [src]="order.user.image"
                                        [alt]="order.user.name"
                                    />
                                </div>
                                <div>
                                    <span
                                        class="block font-medium text-gray-800 text-theme-sm dark:text-white/90"
                                    >
                                        {{ order.user.name }}
                                    </span>
                                    <span
                                        class="block text-gray-500 text-theme-xs dark:text-gray-400"
                                    >
                                        {{ order.user.role }}
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td
                            class="px-4 py-3 text-gray-500 text-start text-theme-sm dark:text-gray-400"
                        >
                            {{ order.projectName }}
                        </td>
                        <td
                            class="px-4 py-3 text-gray-500 text-start text-theme-sm dark:text-gray-400"
                        >
                            <div class="flex -space-x-2">
                                @for (
                                    teamImage of order.team.images;
                                    track $index;
                                    let i = $index
                                ) {
                                    <div
                                        class="w-6 h-6 overflow-hidden border-2 border-white rounded-full dark:border-gray-900"
                                    >
                                        <img
                                            width="24"
                                            height="24"
                                            [src]="teamImage"
                                            [alt]="'Team member ' + (i + 1)"
                                            class="w-full size-6"
                                        />
                                    </div>
                                }
                            </div>
                        </td>
                        <td
                            class="px-4 py-3 text-gray-500 text-start text-theme-sm dark:text-gray-400"
                        >
                            <app-badge
                                size="sm"
                                [color]="getBadgeColor(order.status)"
                            >
                                {{ order.status }}
                            </app-badge>
                        </td>
                        <td
                            class="px-4 py-3 text-gray-500 text-theme-sm dark:text-gray-400"
                        >
                            {{ order.budget }}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="w-full max-w-full border-t-2">
            <!-- Start coding here -->
            <div
                class="relative overflow-hidden bg-white rounded-b-lg shadow-md dark:bg-gray-800"
            >
                <nav
                    class="flex flex-col items-start justify-between p-4 space-y-3 md:flex-row md:items-center md:space-y-0"
                    aria-label="Table navigation"
                >
                    <span
                        class="text-sm font-normal text-gray-500 dark:text-gray-400"
                        >Showing
                        <span
                            class="font-semibold text-gray-900 dark:text-white"
                            >1-10</span
                        >
                        of
                        <span
                            class="font-semibold text-gray-900 dark:text-white"
                            >1000</span
                        ></span
                    >
                    <ul class="inline-flex items-stretch -space-x-px">
                        <li>
                            <a
                                href="#"
                                class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            >
                                <span class="sr-only">Previous</span>
                                <svg
                                    class="w-5 h-5"
                                    aria-hidden="true"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a
                                href="#"
                                class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                >1</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                >2</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                aria-current="page"
                                class="z-10 flex items-center justify-center px-3 py-2 text-sm leading-tight border text-brand-600 bg-brand-50 border-brand-300 hover:bg-brand-100 hover:text-brand-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
                                >3</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                >...</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="flex items-center justify-center px-3 py-2 text-sm leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                >100</a
                            >
                        </li>
                        <li>
                            <a
                                href="#"
                                class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                            >
                                <span class="sr-only">Next</span>
                                <svg
                                    class="w-5 h-5"
                                    aria-hidden="true"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
